.title {
    padding-left: 65px;
}
body {
    background: #fbfbfb;
}
.stick-form {
    position: fixed;
}
.wrapper-output {
    width: calc(100% - 340px);
    margin-left: auto;
}
pre {
    width: 100%;
}
code {
    font-size: 12px;
    padding-top: 0!important;
}
.hljs-string {
    color: #c12e2e!important;
}
.hljs-keyword {
    color: #1fe549!important;
}
select:disabled {
    opacity: 0.4;
}
h1 {
    font-size: 23px!important;
}
button.primary {
    background: #45A9FF;
    color: #fff;
    height: 33px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(275.64deg,#147ee3,#45a9ff);
    background-color: #83c5fd;
    color: #fff;
}

button.primary:hover {
    color: #fff;
    background-color: #83c5fd;
    background-image: none;
}
.message {
    font-size: 13px;
}
.console-title {
    color: #f7ca28;
    margin-top: 5px;
    left: 12px;
    position: absolute;
}